<?xml version="1.0"?>
<configuration>
	<database_url>jdbc:mysql://localhost:3306/agregator_db</database_url>
	<database_user>johny</database_user>
	<database_password>johny</database_password>
	
	<!-- Максимум 100 постов. -->
	<requestedwallposts>100</requestedwallposts>
	<token>ecd7479e0e24dff0e1095a92410f832b2959ea2e3312df33ac233c2ef4277e5913fd41acb5e9577ee28d1</token>
	<user_id>414240954</user_id>
	
	<!-- Включение/выключение выполнения компонентов. -->
	<is_grubber_enabled>0</is_grubber_enabled>
	<is_rankprocessing_enabled>1</is_rankprocessing_enabled>
	<is_poster_enabled>0</is_poster_enabled>
	
	<!-- Кол-во дней для анализа и оценки -->
	<day_to_analyse>14</day_to_analyse>
</configuration>